@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witamy w Komisie</h1>
    <p>Zapraszamy do obejrzenia naszej oferty. Aplikacja jest wersją testową niekomercyjną.</p>
    <p>Więcej informacji w zakładce kontakt</p>
</div>
